.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: rgb(241, 241, 241);
  margin: 10px;
  border-radius: 15px;

  .btn-date {
    cursor: pointer;
    padding: 5px 10px;
    background-color: black;
    color: white;
    width: min-content;
    border-radius: 5px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
  }

  .list-invoice {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .list-item {
      display: inline-flex;
      justify-content: space-between;

      .title {
        font-weight: 500;
      }
    }

    .divider {
      height: 1px;
      background-color: black;
    }
  }
}
