@import "./scss/variables.scss";

.layout {
  background-color: $primary-color;
  display: flex;
  flex-direction: row;
  height: 100vh;

  .content {
  //   background-color: rgb(241, 241, 241);
  //   box-shadow:  5px 5px rgba(51, 51, 51, 0.178); ;
    flex-grow: 1;
  //   margin: 10px;
  //   border-radius: 15px;
  }
}
